*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.125rem;
  font-family: 'Fraunces', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

.button-yellow{
  color: $text-color;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  z-index: 1;

  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background: $button-color;
    border-radius: 5px;
    bottom: -2px;
    z-index: -1;
  }

  &:hover{
    &:before{
      background: $yellow-color;
    }
  }
}

.button-red{
  color: $text-color;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  z-index: 1;

  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background: $button-color;
    border-radius: 5px;
    bottom: -2px;
    z-index: -1;
  }

  &:hover{
    &:before{
      background: $pink-color;
    }
  }
}