.header{
  height: 100vh;
  width: 100%;
  background-image: url(../../../SunnysideAgency/img/image-header.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 20px;

  .logo{
    color: $white-color;
    font-size: 1.5rem;
    font-family: 'Barlow', sans-serif;
  }

  .hamburger{
    display: none;

    @include sm{
      display: block;
    }
  }

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-menu{
      display: flex;

      &.active{
        display: flex;
        background: white;
        width: 90%;
        height: 50%;
        text-align: center;
        position: absolute;
        top: 15%;
        left: 40%;
        transform: translate(-40%, 0);
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
        transition: .5s;

        &:before{
          content: "";
          position: absolute;
          top: -35px;
          right: 0;
          width: 0;
          height: 0;
          border-left: 35px solid transparent;
          border-bottom: 35px solid $white-color;
          transition: .5s;
        }

        li{
          margin-right: 0;
          a{
            color: $text-color;
            font-family: 'Fraunces', sans-serif;

            span{
              background: $yellow-color;
            }
          }
        }
      }

      @include sm{
        display: none;
      }

      li{
        margin-right: 30px;

        a{
          color: $white-color;

          span{
            background: $white-color;
            color: $text-color;
            border-radius: 30px;
            padding: 15px;
            font-family: 'Fraunces', sans-serif;
            text-transform: uppercase;
            font-size: 1rem;

            &:hover{
              background: rgba(255,255,255,.5);
              color: $white-color;
            }
          }
        }
      }
    }
  }

  .hero-text{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: $white-color;

    h1{
      font-weight: 700;
      font-size: 2.5rem;
      text-align: center;

      @include sm{
        font-size: 2rem;
      }
    }
  }

  .hero-icon{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
  }
}