.brand{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;

  @include sm{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    .two{
      order: 1;
    }

    .one{
      order: 2;
    }

    .three{
      order: 3;
    }

    .four{
      order: 4;
    }

    .five{
      order: 5;
    }

    .six{
      order: 6;
    }
  }

  &-text{
    padding: 150px;

    @include lg{
      padding: 100px;
    }

    @include md{
      padding: 50px;
    }

    @include sm{
      padding: 20px;
    }

    h2{
      color: $text-color;
      font-size: 2.4rem;
      margin-bottom: 20px;

      @include lg{
        font-size: 2.2rem;
      }
    }

    p{
      color: $paragraph-color;
      font-size: 1rem;
      margin-bottom: 50px;
    }
  }

  &-img{
    width: 100%;
    height: 100%;
    position: relative;

    img{
      width: 100%;
      height: 100%;
    }

    .brand-graphics{
      position: absolute;
      bottom: 50px;
      text-align: center;
      width: 410px;
      left: 50%;
      transform: translate(-50%, -10%);

      @include md{
        width: 90%;
        bottom: 0;
      }

      @include mini{
        bottom: 0;
      }

      h2{
        color: $green-color;
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-bottom: 20px;
        font-weight: 700;

        @include mobile{
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
      }

      p{
        color: $green-color;
        font-family: 'Barlow';
        font-weight: 600;

        @include mobile{
          font-size: .9rem;
        }
      }
    }

    .brand-photography{
      position: absolute;
      bottom: 50px;
      text-align: center;
      width: 410px;
      left: 50%;
      transform: translate(-50%, -10%);

      @include md{
        width: 90%;
        bottom: 0;
      }

      @include mini{
        bottom: 0;
      }

      h2{
        color: $dark-blue-color;
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-bottom: 20px;
        font-weight: 700;

        @include mobile{
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
      }

      p{
        color: $dark-blue-color;
        font-family: 'Barlow';
        font-weight: 600;

        @include mobile{
          font-size: .9rem;
        }
      }
    }
  }
}